
/* Your CSS Code here. */
table{
	border:2px solid;
}
tr{
	background-color:rosybrown;
}
th{
	text-align:left;
	color:white;
	background-color:brown;
	width:50px;
	font-size:15px;
	border:2px solid black;
}
td{
	border:2px solid;
	text-align:right;
}
